		<footer role="contentinfo" itemscope itemtype="http://schema.org/Person">
			<div class="grid">
				<div class="grid__unit l-1of2">
					<div class="media">
						<div class="media__img">
							<img src="http://valuedstandards.com/mugshot.jpg" alt="" itemprop="image" />
						</div>
						<div class="media__body">
							<div class="vcard">By
								<address class="author">
									<span class="fn" itemprop="name"><a href="http://valuedstandards.com" itemprop="url">{{site.author}}</a></span>
								</address>
							</div>
							<p>
							Follow me <a href="http://twitter.com/valuedstandards">@valuedstandards</a><br/>
							Fork off at <a href="https://github.com/davidhund/davidhund.com">Github/davidhund</a>
							</p>
						</div>
					</div>
				</div>
				<div class="grid__unit l-1of2">
					<p>This blog is far from finished. <a href="https://github.com/davidhund/davidhund.com/issues/" title="Issues for the source-code of this site">There's a lot I'd like to work on</a>. Such as <del>comments</del><ins><a href="/meta/2014/05/25/comments/">great comments</a></ins>.</p>
					<p><a href="/feed.rss">Latest 10 posts as RSS</a> | <a href="#">Back to the top</a></p>
				</div>
			</div>
			<small>&copy; {{ site.time | date: "%Y" }}&mdash;{{ site.time | date: "%Y" | plus:'1' }} <a href="https://plus.google.com/u/0/+DavidHund/posts?rel=author">{{site.author}}</a>.</small>
		</footer>
