<!DOCTYPE html>
<html class="no-js *debug" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>{% if page.layout == 'homepage' %}{{site.site_name}}{% else %}{{page.title}} | {{site.site_name}}{% endif %}</title>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

		  Design & Development by David Hund of Valued Standards:
		  _____________________________________________________________

		  W: http://valuedstandards.com
		  E: david [AT] valuedstandards [DOT] com
		  T: @valuedstandards
		  T: @davidhund

		- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->


		<meta name="author" content="David Hund - Valued Standards" />
		<link rel="author" href="https://plus.google.com/u/0/117376077765230391641/posts" />
		<meta name="description" content="{{page.description}}" />
		<link rel="alternate" type="application/rss+xml" title="{{ site.site_name }}" href="{{ site.url }}/feed.xml" />

		<!-- Microsoft’s insane IE9+ pinned site syntax: <msdn.microsoft.com/library/gg131029> -->
		<meta name="application-name" content="{{site.site_name}}" />
		<meta name="msapplication-starturl" content="{{site.site_domain}}/{{site.baseurl}}" />
		<meta name="msapplication-window" content="width=1024;height=600" />
		<meta name="msapplication-navbutton-color" content="#5C4836" />
		<!-- Windows 8 Tile icon / colour -->
		<meta name="msapplication-TileImage" content="/metro-tile.png" />
		<meta name="msapplication-TileColor" content="#5C4836" />

		<link rel="stylesheet" href="{{site.baseurl}}/static/css/style.min.css">

		<script>with(document.documentElement){className=className.replace(/\bno-js\b/,'js')}</script>

		<!--[if lt IE 9]><script src="{{site.baseurl}}/static/js/vendor/html5shiv.js"></script><![endif]-->

		<link rel="stylesheet" href="{{site.baseurl}}/static/js/vendor/prism.css">

	</head>
	<body itemscope itemtype="http://schema.org/WebPage">
