<header role="banner">
	<hgroup>
		{% if page.url == '/index.html' %}
		<div class="logo">
			<img class="logo__img" src="/static/img/logo.png" alt="">
			<span class="logo__byline">Byline</span>
		</div>
		<h1>David Hund's Devnotes</h1>
		{% else %}
		<a class="logo" href="/">
			<img class="logo__img" src="/static/img/logo.png" alt="">
			<span class="logo__byline">Byline</span>
		</a>
		<h1><a href="/">David Hund's Devnotes</a></h1>
		{% endif %}
		<h2>Thoughts on front-end Web development</h2>
	</hgroup>
</header>
