{% include head.html %}
{% include header.html %}
		<div class="grid">
				<main role="main" class="grid__unit l-primary">
					<p class="hentry__meta">
						<time itemprop="datePublished" datetime="{{ page.date | date: "%Y-%m-%dT%H:%M:%S" }}">{{ page.date | date_to_string }}</time>
						{% for cat in page.categories %}
						<span class="post-cat">{{page.categories}}</span>
						{% endfor %}
						<span class="post-author" rel="contact author">{% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif %}</span>
					</p>
					{{content}}

					<hr/>
					{% include disqus.html %}

				</main>
				<div class="grid__unit l-secondary l-secondary--shade">
				{% if page.aside %}
				<aside>
					{{ page.aside | markdownify }}
				</aside>
				{% endif %}
					<nav role="navigation">
						<h3>Archive</h3>
						<ul class="linklist">
						{% for node in site.posts limit: 10 %}
						    {% if node.title != null %}
					            {% if page.url != node.url %}
					                <li><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
					            {% endif %}
						    {% endif %}
						{% endfor %}
						</ul>
					</nav>
					{% include navigation.html %}
				</div>
		</div>
{% include footer.html %}
{% include foot.html %}